/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: var(--font-sans, sans-serif);
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@mixin desktop {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 639px) {
    @content;
  }
}